.tab,
.subTab {
   display: inline-block;
   cursor: pointer;
}

.tabContent,
.subTabContent {
   /*display: none;*/
   height: 0;
   opacity: 0;
   pointer-events: none;
   transition: opacity 0s ease 0s;
   visibility: hidden;
}

.tabContent.content-active,
.subTabContent.subContent-active {
   /*display: block;*/
   height: auto;
   pointer-events: all;
   opacity: 1;
   transition: opacity 0.1s ease 0s;
   visibility: visible;
}